body {
    font-family: 'Lato', sans-serif;
    margin: 0;



}

.first-section {
    background-image: url(image/cover\ photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 550px;
    background-position: center;
    padding-top: 50px;
    opacity: 0.8;

}


h1 {
    color: white;
    font-size: 40px;
}

pre {
    color: white;
    font-size: 19px;
    font-weight: 500px;
}

span {
    color: rgb(223, 223, 13);
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(84, 161, 192);
    border: 3px solid rgb(84, 161, 192);
    background: linear-gradient(skyblue darkcyan);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700px;
    font-family: arial;
    padding: 8px 20px;
}

.background-text {
    text-align: center;
    margin-top: 115px;
}

.second-section {
    background-color: white;
    margin-left: 60px;

}

.middle-text-design {
    text-align: center;
    margin-top: 65px;

}

.box5 {
    color: black;
    background-color: whitesmoke;
    padding: 18px 18px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-weight: 600px;
    margin-right: 20px;

}

.h2-design {
    font-weight: bold;
    color: dark gold;
}

.extra {
    border: 4px solid lightgrey;
    border-radius: 10px;
    color: white;
    background-color: lightgray;
    font-weight: 700;
}

a:hover {
    color: white;
    background-color: darkslategray;
    border: 3px solid darkslategray;
}

input {
    text-align: center;
    background-color: whitesmoke;
    font-size: 15px;
    border: 2px solid whitesmoke;
    color: darkgray;

}

.sub-section {
    margin-top: 70px;
}

.own-try {
    text-align: center;
    margin-left: 60px;
}

.section1 {
    width: 50%;
}

.third-main-section {
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 60px;


}

.third-section1 {

    box-shadow: 10px 10px 40px white;
    width: 100%;
    margin-left: 18px;
    background-color: rgb(223, 223, 161);
    padding-left: 10px;
    padding-top: 21px;
    padding-right: 10px;

}

.third-section2 {
    box-shadow: 10px 10px 40px white;
    width: 100%;
    margin-left: 18px;
    background-color: rgb(179, 211, 224);
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
}

.third-section3 {
    box-shadow: 10px 10px 40px white;
    width: 100%;
    margin-left: 18px;
    background-color: rgb(223, 223, 161);
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
}

#design-h1 {
    color: black;
}

.forth-section {
    margin-top: 70px;
    display: flex;
}

.small-donation {
    width: 50%;
    margin-left: 220px;
    margin-right: 50px;

}

#helping-image {
    width: 420px;
    height: 340px;
    background-position: left;
    margin-top: 35px;
    margin-right: 80px;


}

#span2 {
    color: rgb(240, 230, 92);
}

.sabbo {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700px;
    color: black;
}

.get {
    text-align: center;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 150px;
    margin-bottom: 50px;

}

.fifth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 150px;
}

.div-box {
    box-shadow: 10px 10px 40px white;
    background: rgb(84, 161, 192);
    padding: 50px 250px;
}

.div-box input {
    font-size: 15px;
    color: black;
    padding: 4px 12px;
    text-align: left;
    border: none;
}

.div-box button {
    font-size: 15px;
    color: black;
    background-color: rgb(223, 223, 13);
    padding: 4px 8px;
    border: none;
}

.footer-box {
    height: 200px;
    width: 1350px;
    background-color: black;

}

.footer-box p {
    color: rgb(84, 161, 192);
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.footer-box copy {
    color: white;
}